<!doctype html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<html>

  <head>
    <title>My Flask App Page</title>
  </head>

  <body>

    {% if name %}
      <p> Hello {{name}}! </p>
    {% else %}
      <p>Hello anonymous person!</p>

    {% endif %}
    
    <div id="contact-form">
        <form method="post" action="/signup">
          <label for="first-name">First Name:</label>
          <input type="text" id="first-name" name="first-name" required="required">
          <label for="last-name">Last Name:</label>
          <input type="text" id="last-name" name="last-name" required="required">
            <label for="email">Email address:</label>
            <input type="email" id="email" name="email" required="required">
            <br>
            <label for="radio-gender">Please select your gender:</label>
            <br>
            <input type="radio" id="radio-gender" name="gender" value="male" checked> Male<br>
            <input type="radio" id="radio-gender" name="gender" value="female"> Female<br>
            <input type="radio" id="radio-gender" name="gender" value="other"> Other
            <br>
            <input type="submit" value="Submit" id="submit-button">
        </form>
    </div>
  </body>
<p>Let's keep in touch!</p>



</html>
