<!DOCTYPE>
<html>
  <head>
  <title>Flowery</title>
  <link href="static/css/landingpage.css" type="text/css" rel="stylesheet" />
  <link href="static/css/bootstrap.css" rel="stylesheet">

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>
  <script src="static/js/bootstrap.js"></script>

  </head>

<body>
   <header>
     <!-- <div class="navlogo"> -->
        <!-- <img src="logo.jpg"> -->
        <!-- <h1>Flowery</h1>
    </div> -->
    <!--Tabs-->
     <div class="topnav" style="background-color: white; z-index:999; position: fixed; top: 0; margin-left:0;">
        <div class="navtabs">
          <a class="navlogo" href="#" style="font-size: 20pt; font-weight: bolder; padding-top: 10px;"><u>Flowery</u> &#127799;</a>
          <a class="home" href="#">Home</a>
          <a href="#whatwedo">What we do</a>
          <a href="#ourproducts">Our Products</a>
          <a href="bouquets">Make an Order</a>
          <a href="#getintouch">Want to get in touch?</a>
        </div>
      </div>
  </header>

<!-- Slide show -->
  <main height="600px">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" align="center">
      <img src="static/images/flowers1.jpg" alt="..." height=" 300px">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item" align="center">
      <img src="static/images/flowers13.jpg" alt="..." height="300px">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item" align="center">
      <img src="static/images/flowers3.jpg" alt="..." height="300px">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item" align="center">
      <img src="static/images/flowers16.jpg" alt="..." height="300px">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item"align="center">
      <img src="static/images/flowers5.jpg" alt="..." height="300px">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item"align="center">
      <img src="static/images/flowers6.jpg" alt="..." height="300px">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item"align="center">
      <img src="static/images/flowers15.jpg" alt="..." height="300px">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</main>
<br>
<div id="whatwedo" class="whatwedo">
<h1 align="center"> What we do </h1>
<div class="container">
  <p align="center"> We are Flowery, a first class service that delivers flowers to you wherever
      you are in the UK without you having to think about it. We choose the best flowers
      that would suit your function or gift set. <br> All you need to do is
      answer some questions and our smart and creative algorithm does it all
      for you. You can also visit our store or you can choose from our ready
      collections online from the comfort of your home. </p>
</div>
</div>
<div id="ourproducts" class="ourproducts">
<h1 align="center"> Our Products </h1>
</div>
<div class="myimages">
<div class="container">
<p align="center"> <b>Flower Gift Set: </b> We can choose the best flower gift set that would suit without
who you are given the gift, the occasion, and even your personality. </p>
</div>
<div class="row">
<div class="first-image col-xs-3">
<img src="static/images/flowers9.jpg">
</div>
<div class="second-image col-xs-3">
  <img src="static/images/flowers8.jpg">
</div>
<div class="third-image col-xs-3">
  <img src="static/images/flowers11.jpg">
</div>
<div class="fourth-image col-xs-3">
  <img src="static/images/flowers12.jpg">
</div>
</div>
<div class="container">
<p align="center"> <b>Decorating Your Function: </b> whether it is a wedding,
a graduation ceremony, an engagment ceremony, or a funeral, we have it all. </p>
</div>
<div class="row">
<div class="fourth-image col-xs-3">
   <img src="static/images/flowers5.jpg">
</div>
<div class="fifth-image col-xs-3">
   <img src="static/images/flowers6.jpg">
</div>
<div class="sixth-image col-xs-3">
   <img src="static/images/flowers7.png">
</div>
<div class="seventh-image col-xs-3">
    <img src="static/images/flowers14.jpg">
</div>

</div>
</div>

<div id="getintouch" class="getintouch"><h1 style="margin-bottom:30px;"align="center">Want to get
in touch?</h1>
<div class="social-icons">
    <a href="http://www.facebook.com"><img src='static/images/facebook.png' /></a>
    <a href="http://www.twitter.com"><img src='static/images/Twitter.png' /></a>
    <a href="http://www.instagram.com"><img src='static/images/Instagram.png' /></a>
  </br>
   <div class="row">
    <a href="#"><img src='static/images/phone.png'></a>
    <p>07788886666</p>
  </div>
</div>
</div>

</body>
</html>
